<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Advanced React</title>
  <meta name="description" content="The HTML5">
  <meta name="author" content="Americo">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <div id="root">
    Loading...
  </div>

  <script src="./bundle.js" charset="utf-8"></script>
</body>
</html>
